<!-- BEGIN: main -->
<html>
<head>
<meta http-equiv="Content-Language" content="zh-tw">
<meta http-equiv="Cache-control" content="private">
<title>{web_title} 後臺管理中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="../css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
<!--
function checkFirefoxOrIE()
{
    if ((navigator.userAgent.indexOf('MSIE') >= 0) && (navigator.userAgent.indexOf('Opera') < 0))
    {
        document.getElementById('menuContext').style.width='130px';
        document.getElementById('mainContext').style.width='';
    }
	else if (navigator.userAgent.indexOf('Firefox') >= 0)
    {
        document.getElementById('menuContext').style.width='12%';
        document.getElementById('mainContext').style.width='87%';
    }
	else if (navigator.userAgent.indexOf('Opera') >= 0)
    {
        document.getElementById('menuContext').style.width='12%';
        document.getElementById('mainContext').style.width='87%';
    }
    else
    {
        document.getElementById('menuContext').style.width='12%';
        document.getElementById('mainContext').style.width='87%';
    }
}
-->
</script>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" >
<div align="center">
	<table border="0" width="100%" id="table1" cellspacing="0" cellpadding="0" >
		<tr>
			<td background="../images/index_02.gif">
			<span style="float:left"><img src="../images/index_01.gif" border="0"></span>
			<span style="float:right"><img src="../images/index_03.gif" border="0"></span>
			</td>
		</tr>
		<tr>
			<td background="../images/index_04_05.gif">
			<span style="float:left"><img src="../images/index_04_04.gif" height="35" border="0"></span>
			<span style="float:right"><img src="../images/index_04_06.gif" height="35" border="0"></span>
			<font color="#FFFFFF" size="5" face="Arial"><b>{web_title} 飯店總管理後台</b></font>
			</td>
		</tr>
		<tr>
			<td background="../images/index_04_08.gif">
			<span style="float:left"><img src="../images/index_04_07.gif" height="7" border="0"></span>
			<span style="float:right"><img src="../images/index_04_09.gif" height="7" border="0"></span>
			</td>
		</tr>
		<tr>
			<td background="../images/index_05_02.gif">
			<span style="float:left"><img src="../images/index_05_01.gif" height="12" border="0"></span>
			<span style="float:right"><img src="../images/index_05_03.gif" height="12" border="0"></span>
			</td>
		</tr>
		<tr>
		  <td align="center">
			<div style="width:99%;margin:5px 0 5px 0;padding:0;border:0;">
				<div id="menuContext" style="float:left;border:0;margin:0;padding:0;">
					<table border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;" width="130">
						<tr>
							<td colspan="2" style="height: 45px" class="font09route" width="100%" align="center">
								<strong>Hi！<font color="#FF0000">{name}</font><br />
								{web_title}<br /> 後臺管理中心</strong><hr style="border:1px #ECECEC solid;">
							</td>
						</tr>
						<tr>
							<td colspan="2" style="height: 26px" class="font09" align="center">
								<strong><a href="../main.php">回首頁</a> │&nbsp; <a href="../logout.php">登 出</a></strong>
							</td>
						</tr>
						<tr>										
							<td style="padding-top:10px" class="font09route">
								<ul>
									<li style="list-style-type:square;padding:2 0 2 0px;vertical-align: middle">主選單</li>
									<ul>
										{menu}
									</ul>
								</ul>
							</td>
						</tr>
					</table>
				</div>
				<div id="mainContext" style="border:0;padding:0;margin:0;border:solid #CCCCCC 1px; float:right;">
				<img src="../images/blank.gif" border="0" width="100%" height="1"><br />
					{FILE{load_page}}
				</div>
			</div>
		  </td>
		</tr>
	</table>
</div>

<script type="text/javascript">checkFirefoxOrIE();</script>
<form action="delete.php" method="post" style="display:none" id="del_account">
	<input type="hidden" value="" id="del_which" name="del_which">
</form>
<form action="edit.php" method="post" style="display:none" id="edit_account">
	<input type="hidden" value="" id="edit_which" name="edit_which">
</form>
<form action="list.php" method="post" style="display:none" id="change_page_form">
	<input type="hidden" value="" id="now_page" name="now_page">
</form>
</html>
<!-- END: main -->